body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

/* Blog Title */
.header {
    background: #666;
    padding: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
}

/* Navigation Bar */
nav{
    flex: 1;
    background: #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
}

a{
    color:#5A0419;
    text-decoration: none;
    padding: 10px;
}

nav a:hover{
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Column Formatting */
.leftcolumn {
    float: left;
    width: 70%;
}

.rightcolumn {
    float: right;
    width: 20%;
    padding-left: 20px;
}

.aboutImg{
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.externalLink{
    width: 100%;
    text-align: center;
}

a:hover{
    color: #aaa;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Comment section */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li{
    padding-bottom: 6px;
}

ul li button{
    background-color: white;
    color: #5A0419;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

#submitButton{
    background-color: #aaa;
    color: white;
    text-align: center;
    padding: 5px 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: Arial; 
}

img{
    max-height: 400px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #666;
    margin-top: 20px;
    color: white;
}
