
/* General Formatting */
#heading{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
}

#content{
  margin-right: 80px;
  margin-left:80px;
}


/* Quick Info Section */
#head{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 80px;
}

#shortBio {
  margin-left: auto;
  margin-right: 120px;
  width: 650px;
  text-align: justify;
  word-wrap: normal;
}

#image-container {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  max-width: flex;
  display: block;
}

img {
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  max-width: flex;
  display: block;
}


header{
  background: #666;
  padding: 30px;
  font-size: 30px;
  color: #5A0419;
}

.headCol1{
  float:left;
  width:40%;
  padding-left: 10px;
  display: inline-flex;
  position: sticky ;


}

.headCol2{
  float:right;
  width:45%;
  padding-right: 10px;
  display: inline-flex;
  margin-right: 80px;
  position: sticky;


}


.headRow:after{
  content: "";
  display: table;
  clear: both;
}



/* Navigation Bar */
nav{
  flex: 1;
  background: #ccc;
  padding: 20px;
  text-align:center;
}

nav ul{
  list-style-type: none;
  padding: 0;
}

a{
  color:#5A0419 ;
}


/* Lists  */
#class{
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

#class ul{
  list-style: none;
  padding: 16px;
}

#skill{
  text-align: center;
  display: inline-block;
  padding: 20px;
  border-right: 1px solid #5A0419;
  font-size: 15px;
}

#skill ul{
  list-style: none;
}


/* Big Bio */

#largeBio{
  background: #f1f1f1;
}


/* Art gallery */
#artGallery{
  background: #f1f1f1;
}

#lists{
  text-align: center;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 80px;
  margin-right:80px;
}

.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.column img:hover{
  opacity: .6;
}

.column alt:hover{
  opacity: 1;
  text-align: center;
  color: black;
  }

.text{
  height: 0;
  opacity: 0;
}

.text:hover{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 1;
}
