/* General Formatting */
#heading{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
  font-family: Arial;
}

#heading2{
  text-align: left;
  width: 650px;
  font-size: 16px;
  font-family: Arial;
}

#content{
  margin-right: 80px;
  margin-left:80px;
  font-family: Arial;
}

body{
  font-family: Arial;
  padding: 20px;

}

/* Quick Info Section */
#head{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 80px;
}

#shortBio {
    margin-left: auto;
    margin-right: 120px;
    width: 650px;
    text-align: justify;
    padding: 10px;
}

#image-container {
    margin-left: auto;
    margin-right: auto;
    max-height: 300px;
    max-width: flex;
    display: block;
}

.headCol1 img {
    margin: auto;
    max-width: 60%;
    display: block;
}

header{
    background: #666;
    padding: 30px;
    font-size: 30px;
    color: white;
    text-align: center;
}

.headCol1{
    float:left;
    width:40%;
    display: inline-flex;
}

.headCol2{
    float:right;
    width:60%;
    display: inline-flex;
    text-align: center;
}

.headRow:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
  .headCol1, .headCol2{
    width: 100%;
    display: block;
  }
}

/* Navigation Bar */
nav{
    flex: 1;
    background: #ccc;
    padding: 20px;
    text-align:center;
}

a{
    color:#5A0419;
    text-decoration: none;
    padding: 20px;
}

a:hover{
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Skills and Classes  */
#lists{
    text-align: center;
}

#class{
    text-align: center;
    display: inline-flex;
    font-size: 15px;
}

#class ul{
    list-style: none;
    padding: 16px;
}

#skill{
    text-align: center;
    display: inline-flex;
    padding: 20px;
    border-right: 1px solid #5A0419;
    font-size: 15px;
}

#skill ul{
    list-style: none;
}

/* Articles */
#experience{
    margin-right: 80px;
    margin-left: 80px;
    background: white;
}

.activity{
    list-style: none;
    padding:0;
}

#shortBio{
    background: white;
    padding:20px;
}

#largeBio{
    background: #f1f1f1;
    padding: 10px;
}

#artBio{
    background: #f1f1f1;
    padding: 10px;
}

/* SlideShow */
.mySlides{
    display: none;
}

.mySlides img{
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    height: auto;
    display: block;
}

/* Slideshow container */
.slideshow-container{
    margin: auto;
    vertical-align: center;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #666;
    margin-top: 20px;
    color: white;
}

/* Map */
#mapContainer{
    height:650px;
}

#map {
    height: 600px;
    background-color:#ccc;
    border: 1px solid #666;

}

#floating-panel {
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #ccc;
    padding: 5px;
    border: 1px solid #666;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
}

.mapButt{
    background-color: #ccc;
    color: #5A0419;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    font-size: 16px;
}
